.body {
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: black;
}

.menu_legend {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    text-align: center;
    background-color: grey;
}

.menu_legend h2 {
    text-align: center;
    color: black;
}

.menu_legend p {
    text-align: justify;
    padding: 5%;
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.title {
    color: #505050;
    text-decoration: underline;
    text-align: center;
    margin: 5px;
    margin-bottom: 25px;
}

.buttons {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
    width: 16%;
}

.btn {
    width: 90%;
    padding: 5%;
    margin: 10% 5% 0 5%;
    background-color: #BBBBBB;
}

.map_zone img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.usertable {
    color: #DDDDDD;
    width: 100%;
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
}

.droptable {
    color: #DDDDDD;
    width: 100%;
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    margin-top: 20px;
}

.usertable tr,
.droptable tr {
    display: flex;
    padding: 2px 10px;
}

.count {
    width: 40%;
    display: flex;
    justify-content: center;
}

.user {
    width: 60%;
    display: flex;
    padding-left: 20px;
    justify-content: start;
}

.total {
    margin-top: 10px;
    font-size: larger;
    font-weight: bold;
}